<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.workhours"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/DannyDark" >

        <activity
            android:name="com.example.workhours.InitScreenActivity"
            android:windowSoftInputMode="stateHidden"
         	android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data android:value="@string/app_id" android:name="com.facebook.sdk.ApplicationId"/>
        <activity android:name="com.facebook.LoginActivity"></activity>
        <activity
            android:name="com.example.workhours.ShiftFragment"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.workhours.ShiftActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.workhours.MainActivity"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name="com.example.workhours.ProfileActivity"
            android:parentActivityName="com.example.workhours.MainActivity" 
            android:windowSoftInputMode="stateHidden"
         	android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
             <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.workhours.MainActivity" />
        </activity>
        <activity
            android:name="com.example.workhours.LoginOptionsActivity"
            android:windowSoftInputMode="stateHidden"
         	android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.workhours.SignUpOptionsActivity"
            android:windowSoftInputMode="stateHidden"
         	android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.workhours.SignUpEmailActivity"
            android:windowSoftInputMode="stateHidden"
         	android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.workhours.Login"
            android:windowSoftInputMode="stateHidden"
         	android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.workhours.LoginActivity"
            android:windowSoftInputMode="stateHidden"
         	android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.workhours.ChangeShiftDialog"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.workhours.ChangeShiftActivity"
            android:label="@string/title_activity_change_shift" >
        </activity>
        <service android:name="com.example.workhours.util.ScheduleHandler" >
   		 </service>
   		 <service android:name="com.example.workhours.util.ConfirmService" >
   		 </service>
   		 <service android:name="com.example.workhours.util.EmailService" >
   		 </service>
    </application>

</manifest>
